<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success my-1">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-1" *ngFor="let recipe of recipes">
        <div class="d-flex w-100 justify-content-between">
          <div class=" mr-3">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
          </div>
          <span class="ml-auto">
            <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;">
          </span>
        </div>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
